{% extends "base.html" %}
{% block title %}
  Reset Password
{% endblock %}
{% block body %}
  <div class="col-xs-4 col-xs-offset-4 text-center">
    <form method="post">
      <div class="form-group">
        <label for="password">New password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password"
               autocomplete="off" minlength="6" required><br>
        <label for="confirm-password">Confirm password</label>
        <input type="password" class="form-control" name="confirm-password" id="confirm-password"
               placeholder="Confirm Password" autocomplete="off" minlength="6" required><br>
        <div class="alert alert-danger text-center" id="check" style="display: none;">
          Passwords don't match
        </div>
        <button type="submit" class="btn bg-primary" id="reset">Reset</button>
      </div>
    </form>
  </div>
{% endblock %}
{% block scripts %}
  <script>
      $('#confirm-password').keyup(function () {
          if ($(this).val() == $('#password').val()) {
              $('#check').hide();
              $('#reset').prop('disabled', false);
          } else {
              $('#check').show();
              $('#reset').prop('disabled', true);
          }
      });
      $('#password').keyup(function () {
          if ($(this).val() == $('#confirm-password').val()) {
              $('#check').hide();
              $('#reset').prop('disabled', false);
          } else {
              $('#check').show();
              $('#reset').prop('disabled', true);
          }
      });
  </script>
{% endblock %}
